[workspace]
members = [
    "rise-backend",
    "rise-cli",
]
resolver = "2"

[workspace.package]
version = "0.2.2"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/NiklasRosenstein/rise"
