[tools]
minikube = "1.37.0"
overmind = "2.5.1"
pack = "0.39.0"

[tasks."docs:serve"]
description = "Serve documentation with live reload in port 3001."
run = "mdbook serve -p 3001 --open"

[tasks."db:migrate"]
description = "Run database migrations. Run before building the backend."
dir = "rise-backend"
run = "docker-compose up postgres -d && sqlx migrate run"

[tasks."backend:deps"]
description = "Start all backend dependencies with docker-compose."
run = "docker-compose up -d"

[tasks."backend:run"]
description = "Run the backend with overmind."
depends = ["backend:deps", "db:migrate"]
run = "overmind start -f Procfile.dev"
alias = "r"

[tasks."backend:reload"]
description = "Reload the backend services with overmind."
depends = ["backend:deps", "db:migrate"]
run = "overmind restart"
alias = "rr"

[tasks."minikube:launch"]
description = "Start minikube, preconfigured with access to the local Docker registry (rise-registry)."
run = """
set -x

docker-compose up -d rise-registry
NETWORK_NAME=rise_bridge
REGISTRY_NAME=rise-registry
REGISTRY_DIR="/etc/containerd/certs.d/localhost:5000"

minikube start --driver=docker --network="${NETWORK_NAME}" --static-ip 172.28.0.50 --insecure-registry="${REGISTRY_NAME}:5000"
minikube addons enable ingress

for node in $(minikube node list | awk '{print $1}'); do
  docker exec "${node}" mkdir -p "${REGISTRY_DIR}"
  cat <<EOF | docker exec -i "${node}" cp /dev/stdin "${REGISTRY_DIR}/hosts.toml"
[host."http://${REGISTRY_NAME}:5000"]
EOF
done
"""
