{{- if .Values.dex.enabled }}
{{- $config := .Values.dex.config }}
{{- if not $config }}
{{- $config = .Files.Get "files/dex-config.yaml" }}
{{- end }}
{{- $config = regexReplaceAll "issuer:.*" $config (printf "issuer: %s" .Values.dex.issuerUrl) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rise.fullname" . }}-dex-config
  labels:
    {{- include "rise.labels" . | nindent 4 }}
    app.kubernetes.io/component: dex
data:
  config.yaml: |
{{ $config | nindent 4 }}
{{- end }}
